*{
color: white;
margin: 0px;
padding: 0px;
text-decoration: none;
}
body{
  font-size: 100%;
  background-color: #2F303A;
  background-image: url(images/people.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: cover;
  background-position: bottom;
}
header{
  display: flex;
  flex-direction: row;
  height: 45px;
  margin: 0;
  padding-top: 30px;;
  background-color: #202027;
  }
div.header-logo{
  width: 10vw;
  padding-left: 10px;
  margin-top: -20px;
}
div.nav-bar{
  width: 35vw;
}
div.search-form{
  width: 45vw;
}
div.anchor-login{
  width: 10vw;
  height: auto;
  
}
img.key{
  float: left;
  width: 30px;
  height:auto;
  padding-right: 10px;
}
p.text-login{
  padding-left: 10px;
}
nav.menu{
  padding-left: 30px;
  gap: 20px;
  display: flex;
}
img.logo{
  height: 60px;
  width: 120px;
}
form{
  color:white;
  align-items: inline;
  display: flex;
}
input.search-bar{
  width: 350px;
  height: 20px;
  background: #555664;
  border: none;
  border-radius: 4px;
  font-size: 10px;
}
::placeholder {
  color: white;
  opacity: 1; 
}
div.login{
  width: 10vw;
  text-align: left;
}
select{
  margin-left: -90px;
  width: 60px;
  height: 20px;
  background: #555664;
  border: none;
  border-radius: 4px;
  font-size: 10px;
}
img.lupa{
  height:20px;
  width: auto;
  padding-left: 5px;
}
div.banner{
  padding-top: 50px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
img.img-banner{
  width: 90%;
  height: auto;
}
.gallery {
  width: 100%;
}

.gallery-container {
  align-items: center;
  display: flex;
  height: 400px;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}

.gallery-item {
  height: 150px;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 150px;
  z-index: 0;
}

.gallery-item-1 {
  left: 15%;
  opacity: .4;
  transform: translateX(-50%);
}

.gallery-item-2,
.gallery-item-4 {
  height: 200px;
  opacity: 1;
  width: 200px;
  z-index: 1;
}

.gallery-item-2 {
  left: 30%;
  transform: translateX(-50%);
}

.gallery-item-3 {
  cursor: pointer;
  height: 300px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  z-index: 2;
}
.gallery-item-4 {
  left: 70%;
  transform: translateX(-50%);
}

.gallery-item-5 {
  left: 85%;
  opacity: .4;
  transform: translateX(-50%);
}

.gallery-controls {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.gallery-controls button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  margin: 0 20px;
  padding: 0 12px;
  text-transform: capitalize;
}

.gallery-controls button:focus {
  outline: none;
}

.gallery-controls-previous {
  position: relative;
}

.gallery-controls-previous::before {
  border: solid #000;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  height: 4px;
  left: -10px;
  padding: 2px;
  position: absolute;
  top: 0;
  transform: rotate(135deg) translateY(-50%);
  transition: left 0.15s ease-in-out;
  width: 4px;
}

.gallery-controls-previous:hover::before {
  left: -18px;
}

.gallery-controls-next {
  position: relative;
}

.gallery-controls-next::before {
  border: solid #000;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  height: 4px;
  padding: 2px;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: rotate(-45deg) translateY(-50%);
  transition: right 0.15s ease-in-out;
  width: 4px;
}

.gallery-controls-next:hover::before {
  right: -18px;
}

.gallery-nav {
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}

.gallery-nav li {
  background: #ccc;
  border-radius: 50%;
  height: 10px;
  margin: 0 16px;
  width: 10px;
}

.gallery-nav li.gallery-item-selected {
  background: #555;
}